@import '../../../cores.scss';

.card {
    width: 350px;
    height: 260px;

    border-radius: 12px;
    box-shadow: 
        rgba(0, 0, 0, 0.19) 0px 10px 20px, 
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .head  {
        padding: 8px 0px;
        font-size: 14px;
        text-align: center;
        border-radius: 12px 12px 0px 0px;
        transition: 1s;
       


    }


    .card-conteudo {
        padding: 8px;
        height: 180px;

        pre {
            height: 150px;
            margin-top: 12px;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Roboto';
        }
    }

   

     
    .tag {
        float: right;
        margin-right: 12px;
        background-color: #6278F7;
        color: #EDF2F4;
        font-weight: bold;
        padding: 2px 8px;
        
        text-align: center;
        border-radius: 12px;
    

}

transition: 0.5s;

&:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

}